body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: #eee;
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #1b1b1b;
  padding: 20px;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: #aaa;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a:hover {
  color: #00bcd4;
}

main {
  margin-left: 240px;
  padding: 80px 20px;
  flex-grow: 1;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery img {
  width: 250px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* --- GÓRNA BELKA --- */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  z-index: 1000;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.top-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav li {
  margin: 0 20px;
}

.top-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  transition: color 0.3s;
}

.top-nav a:hover {
  color: #00bcd4;
}
